@charset 'utf-8';
.contactoInfo p{
	color: black;	
}
.back-link{
	text-decoration: none;
	color: #444;
	font-size: 5em;
	float: left;
	clear: both;
	line-height: 0;
}
.categoria{
	border-top: 5px solid #CCCCCC;
	background: url(../../img/white_wall_hash.png);
}
/* section oferta*/
.oferta{
	margin-top: 50px;
	text-align: center;
}
.ofertas{
	display: inline-block;
}
.ofertas img{
	width: 350px;
	height: 300px;
	margin-right: 10px;
}
/* Lista productos*/
.productos{
	margin-top: 50px;
}
.listaProductos a{
	text-decoration: none;
}
.imgcategoria{
	height: 120px;
}

.busquedabox{
	text-align: right;
	margin-right: 28px;
	margin-bottom: 29px;
}
.textbuscar{
	background: #E6E7E7;
	border: 1px solid #CCCCCC;
	text-indent: 5px;
	height: 26px;
	width: 22%;
}
.botonbuscar{
	background: gray;
	padding: 5px 20px;
	border: none;
	color: whitesmoke;
}
.slides li a{
	text-decoration: none;
}
.mensajebusqueda{
	text-align: center;
}
.tituloCategoria{
	margin-top: 4px;
	font-size: 16px;
	color: gray;
	text-align: center;
}
.flexslider {
border: 15px solid #fff !important;
}
.productoContainer{
	width: 220px;
	display: inline-block;
	margin-left:20px; 
	margin-bottom: 20px;
	text-align: center;
}
.productoContainer img{
	text-align: center;
	width: 220px;
	height: 200px;
}
.productoDescripcion{
	color: rgb(114, 110, 110);
	border: solid rgb(219, 219, 219) 1px;
	margin-bottom: 15px;
	height: 147px;
	padding-top: 6px;
}
.listaProductos{
	float:left;
	width: 100%;
}
.productoTitulo{
	background: rgba(57, 83, 160,0.8);
	color: white;
	text-align: center;
	height: 35px;
	line-height: 35px;
}
.endless_container{
	text-align: center;
	margin-top: 30px;
}
.endless_more{
	text-decoration: none;
	color: black;
	background: #E6E7E7;
	padding: 10px 15px;
	box-shadow: 0 0 8px #777;
}
/* slider */
.otrasCategorias{
	margin-top: 50px;
	margin-bottom: 50px;
}
.slider{
	background: #E6E7E7;
	text-align: center;
	height: 250px;
}

@media screen and (max-width: 1000px){
	.textbuscar {
		width: auto;
	}
}

@media screen and (max-width: 480px) {
	.productoContainer {
		width: 80%;
		margin-left: 10%;
	}
}