@charset 'utf-8';
.categoria{
	border-top: 5px solid #CCCCCC;
	background: url(../../img/white_wall_hash.png);
}
/* section oferta*/
.oferta{
	margin-top: 50px;
	text-align: center;
}
.ofertaizq, .ofertader{
	display: inline-block;
}
/* Lista productos*/
.productos{
	margin-top: 50px;
}
.imgcategoria{
	height: 100px;
}

.tituloCategoria{
	text-transform: uppercase;
	font-size: 16px;
}
.productoContainer{
	width: 220px;
	display: inline-block;
	margin-left:20px; 
	margin-bottom: 20px;
	text-align: center;
}
.productoContainer img{
	text-align: center;
	width: 220px;
}
.productoDescripcion{
	display: none;
}
.productoTitulo{
	background: rgba(57, 83, 160,0.8);
	color: white;
	text-align: center;
	height: 35px;
	line-height: 35px;
}
.endless_container{
	text-align: center;
	margin-top: 30px;
}
.endless_more{
	text-decoration: none;
	color: black;
	background: #E6E7E7;
	padding: 10px 15px;
	box-shadow: 0 0 8px #777;
}
/* slider */
.otrasCategorias{
	margin-top: 50px;
	margin-bottom: 50px;
}
.slider{
	background: #E6E7E7;
	text-align: center;
	height: 250px;
}
