@charset 'utf-8';
.contactoInfo p {
	color: black;
}
.back-link{
	text-decoration: none;
	color: #444;
	font-size: 2em;
	clear: both;
	line-height: 0;
	position: relative;
	bottom: -35px;
}
.flexslider{
	float: left !important;
	margin: 0 0 13px !important;
	width: 100% !important;
}
.sliderimagenes{
	float: left;
	width: 100%;
}

.producto{
	background: url(../../img/cream_dust_@2X.png);
	padding: 40px 0 0 0;
	border-top: 5px solid #CCCCCC;
}.tituloh2{
	width: 100% !important;
}
.numeroprecio{
	float: left;
	font-size: 1.2em;
	line-height: 15px;
	padding-left: 23px;
}
.preciotext{
	float: left;
	padding-left: 20px;
}
.codigo{
	text-align: center;
	color: #3651A0;
	font-size: 0.9em;
	margin-top: -16px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.precio{
	width: 31%;
	float: left;
	height: auto;
	background-color: #A03939;
	color: white;
	padding: 12px 0 12px 0;
	margin-bottom: 6px;
}
.nodisponible{
	color: rgb(224, 18, 18);
}
.left{
	text-align: left !important;
}

.derecha{
	text-align: center;	
	float: left;
	width: 47%;
	margin-right: 50px;
}
.categoria{
	padding-top: 18px;
	color: gray;
	font-size: 15px;
	text-align: center;
}
.fb-comments{
	padding: 50px 0 50px 0;
}
.mini{
	margin-top: 51px;
	}

@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.precio{
		width: 42%;
	}
	.face{
		display: none;
	}
	.derecha{
		float: none;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1%;
	}
	.izquierda{
		margin-left: 10px;
	}
}
@media screen and (max-width: 480px) {
	.derecha{
		width: 60%;
		margin-left: 20%;
	}
	.izquierda{
		width: 90%;
		margin-left: 5%;
	}
	.precio{
		width: 100%;
		text-align: center;
	}
}