{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Contacto - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/contacto.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(10.193271,-71.318833);
  var mapOptions = {
    zoom: 16,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Activa 24 C.A. Edificio Zulia'
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="contacto">
	<div class="wrapper">
		<h2>Contacto</h2>
		<section class="formularioContacto">
			{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
			{% else %}
				{% if form.errors %}
				<p>
					Por favor corregir los errores debajo.
				</p>
				{% endif %}
				<form action="#" method="POST">
					{% csrf_token %}
					<div class="campo">
						{{ field.errors }}
						<label for="nombre">Razón Social:</label>
						{{ form.nombre }}
						{{ form.nombre.errors }}
					</div>
						<div class="campo">
						{{ field.errors }}
						<label for="rif">RIF o Cédula:</label>
						{{ form.rif }}
						{{ form.rif.errors }}
					</div>
					<div class="campo">				
						{{ field.errors }}
						<label for="email">Correo Electrónico:</label>
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					<div class="campo">
						{{ field.errors }}
						<label for="telefono">Teléfono:</label>
						{{ form.telefono }}
						{{ form.telefono.errors }}
					</div>
					<div class="textareaDescripcion campo">
						{{ field.errors }}
						<label for="texto">Mensaje: </label>
						{{ form.texto }}
						{{ form.texto.errors }}
					</div>
					<div class="botonEnviar">
						<input type="submit">
					</div>
				</form>
			{% endif %}
		</section>
		<section class="informacionContacto">
			<div class="map">
				<div id="map-canvas"></div>
			</div>
			<div class="infoContacto">
				<div class="opcionesContacto">
					<div class="opcionInfo">						
						<div class="tituloOpcionInfo"><div class="paginaweb"></div>Dirección:</div>
						<div class="infoOpcion">Dirección: Av. Intercomunal, Edificio Zulia, Piso 1, Oficina 101 Ciudad Ojeda</div>
					</div>					
					<div class="opcionInfo">						
						<div class="tituloOpcionInfo"><div class="correo"></div>Correo:</div>
						<div class="infoOpcion">contacto@activa24ca.com</div>
					</div>
					<div class="opcionInfo">
						<div class="tituloOpcionInfo"><div class="telefonos"></div>Teléfonos:</div>
						<div class="infoOpcion">
							<ul class="telefonosNumeros">
								<li>(+58) 265 415 0126</li>
								<li><b>Horario:</b> Lunes a Viernes</li>
								<li> De 8:00 AM a 12:00 PM</li>
								<li> Y De 2:00 AM a 5:00 PM</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="logoAgua"></div>
	</div>
</section>
{% endblock %}