{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Duranjo Web
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/contacto.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y Servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="contacto">
	<div class="wrapper">
		<h2>Contacto</h2>
		<section class="formularioContacto">
			{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
			{% else %}
				{% if form.errors %}
				<p>
					Por favor corregir los errores debajo.
				</p>
				{% endif %}
				<form action="#" method="POST">
					{% csrf_token %}
					<div class="campo">
						{{ field.errors }}
						<label for="nombre">Razón Social:</label>
						{{ form.nombre }}
						{{ form.nombre.errors }}
					</div>
						<div class="campo">
						{{ field.errors }}
						<label for="rif">RIF:</label>
						{{ form.rif }}
						{{ form.rif.errors }}
					</div>
					<div class="campo">				
						{{ field.errors }}
						<label for="email">Correo Electrónico:</label>
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					<div class="campo">
						{{ field.errors }}
						<label for="telefono">Teléfono:</label>
						{{ form.telefono }}
						{{ form.telefono.errors }}
					</div>
					<div class="textareaDescripcion">
						{{ field.errors }}
						<label for="texto">Breve descripción de su proyecto: </label>
						{{ form.texto }}
						{{ form.texto.errors }}
					</div>
					<div class="botonEnviar">
						<input type="submit">
					</div>
				</form>
			{% endif %}
		</section>
		<section class="informacionContacto">
			<div class="map">
				MAPA		
			</div>
			<div class="infoContacto">
				<div class="titulo">
					<h3>Información de contacto.</h3>
				</div>
				<div class="opcionesContacto">
					<ul>
						<li>Correo: <a href="mailto:Activa_24@gmail.com">Activa_24</a></li>
						<li>Teléfonos: +58 265 6319998 y +58 261 6312043</li>
						<li><div class="facebookIcon">Facebook!</div>Activa24</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="logoAgua"></div>
	</div>
</section>
{% endblock %}