{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Contacto - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/contacto.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="contacto">
	<div class="wrapper">
		<h2>Contacto</h2>
		<section class="formularioContacto">
			{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
			{% else %}
				{% if form.errors %}
				<p>
					Por favor corregir los errores debajo.
				</p>
				{% endif %}
				<form action="#" method="POST">
					{% csrf_token %}
					<div class="campo">
						{{ field.errors }}
						<label for="nombre">Razón Social:</label>
						{{ form.nombre }}
						{{ form.nombre.errors }}
					</div>
						<div class="campo">
						{{ field.errors }}
						<label for="rif">RIF o Cédula:</label>
						{{ form.rif }}
						{{ form.rif.errors }}
					</div>
					<div class="campo">				
						{{ field.errors }}
						<label for="email">Correo Electrónico:</label>
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					<div class="campo">
						{{ field.errors }}
						<label for="telefono">Teléfono:</label>
						{{ form.telefono }}
						{{ form.telefono.errors }}
					</div>
					<div class="textareaDescripcion">
						{{ field.errors }}
						<label for="texto">Breve descripción de su proyecto: </label>
						{{ form.texto }}
						{{ form.texto.errors }}
					</div>
					<div class="botonEnviar">
						<input type="submit">
					</div>
				</form>
			{% endif %}
		</section>
		<section class="informacionContacto">	
			<div class="map">
				<iframe width="490" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.ve/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Av+Intercomunal,+Ciudad+Ojeda&amp;aq=0&amp;oq=ciudad+ojeda+avenidad+intercomunal&amp;sll=10.193271,-71.318833&amp;sspn=0.572948,0.891953&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Intercomunal&amp;t=m&amp;ll=10.206306,-71.336632&amp;spn=0.029565,0.042057&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			</div>
			<div class="infoContacto">
				<div class="titulo">
					<h3>Información de contacto.</h3>
				</div>
				<div class="opcionesContacto">
					<ul>
						<li>Correo: <a href="mailto:contacto@activa24ca.com">contacto@activa24ca.com</a></li>
						<li>Teléfonos: +58 265 6319998 y +58 261 6312043</li>
						<li>Dirección: Av. Intercomunal, Edificio Zulia, Piso 1, Oficina 102 Ciudad Ojeda</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="logoAgua"></div>
	</div>
</section>
{% endblock %}