{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load custom_filters %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Activa24 C.A. Ofrecemos soluciones totalmente integradas de sistemas de seguridad, vigilancia electrónica y monitoreo centralizado.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Página principal - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/back-top.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'departamento' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<h1>Activa 24 C.A.</h1>
	<section id="slider" class="sliderText">
		<div class="sliderPosition">
			<div class="flexslider">
				<ul class="slides">
					{% if slideritem %}
						{% for item in slideritem %}
							<li><img src="{{item.image.url}}" alt="{{item.title}}"></li>
						{% endfor %}
					{% endif %}
			 	</ul>
			</div>		
		</div>
	</section>
	<section class="aboutus">
		<div class="wrapper">
			<div class="tituloh2"><h2>Sobre Nosotros</h2></div>
			<div class="monitorCamaras">
				<div class="imagenstatic">
				</div>
				<img src="{% static 'img/pantallaapple.png' %}" alt="camara vigilancia"></div>
			<div class="textoSobreNosotros">
				<p>Ofrecemos soluciones totalmente integradas de sistemas de seguridad, vigilancia electrónica y monitoreo centralizado. 
				Mediante la asesoría, instalación y administración de equipos de vigilancia, sistemas antirrobo, seguridad perimetral y control de acceso.
				Para proveer una protección confiable a nuestros clientes y sus bienes.
				</p>
			</div>
		</div>
	</section>
	<section class="ultimosProductos">
		<div class="wrapper">
			<!-- example one product -->
			<div class="tituloh2"><h2>Últimos Productos</h2></div>
				{% for p in productos %}
						<a href="{{ p.get_absolute_url }}">
							<div class="productContainer">
								<img src="{{ MEDIA_URL }}/{{ imagenes|getimagen:p.id}}" alt="{{p.titulo}} imagen"/>
								<div class="productBoton">{{p.titulo}}</div>
							</div>
						</a>
				{% endfor %}		
			<div>
				<div class="tituloh3"><a href="{% url 'departamento' %}">Ver todos los servicios y productos</a></div>
			</div>
		</div>
	</section>
	<!-- SLIDER INIT -->
	<script>
		$(document).ready(function() {
		  $('.flexslider').flexslider({
		  });
		});
	</script>
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
{% block clear %}
	<section class="empresasLogos">
		<div class="wrapper">
			<a href="http://www.avtech.com.tw/" target="_blank" rel="nofollow" title="AVTECH" class="sponsor">
				<img src="{% static 'img/avtechlogo.png' %}" alt="AVTECH logo">
			</a>
			<a href="http://www.sictranscore.com.ar/" target="_blank" rel="nofollow" title="Sic Transcore Venezuela" class="sponsor">
				<img src="{% static 'img/sictranscore.png' %}" alt="Sic Trnascore Venezuela logo">
			</a>
			<a href="http://foscam.us/" target="_blank" rel="nofollow" title="FOSCAM" class="sponsor">
				<img src="{% static 'img/foscamlogo.png' %}" alt="FOSCAM logo">
			</a>
			<a href="http://www.dsc.com/" target="_blank" rel="nofollow" title="DSC" class="sponsor">
				<img src="{% static 'img/dsclogo.png' %}" alt="DSC logo">
			</a>
		</div>
	</section>
{% endblock%}