{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Página principal - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/back-top.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
	<div class="sliderPosition">
		<div class="flexslider">
		  <ul class="slides">
		  	{% if slideritem %}
		  		{% for item in slideritem %}
		  			<li><img src="{{item.image.url}}" alt="{{item.title}}"></li>
		  		{% endfor %}
		  	{% endif %}
		</div>		
	</div>
	<section id="slider" class="sliderText">
	</section>
	<section class="aboutus">
		<div class="wrapper">
			<div class="tituloh2"><h2>Sobre Nosotros</h2></div>
			<div class="monitorCamaras"><img src="{% static 'img/camaravigilancia.jpg' %}" alt="camara vigilancia"></div>
			<div class="textoSobreNosotros">
				<p>Ofrecemos soluciones totalmente integradas de sistemas de seguridad, vigilancia electrónica y monitoreo centralizado. 
				Mediante la asesoría, instalación y administración de equipos de vigilancia, sistemas antirrobo, seguridad perimetral y control de acceso.
				Para proveer una protección confiable a nuestros clientes y sus bienes.
				</p>
			</div>
		</div>
	</section>
	<section class="ultimosProductos">
		<div class="wrapper">
			<!-- example one product -->
			<div class="tituloh2"><h2>Últimos Productos</h2></div>
			<div class="productContainer">
				<img src="{% static 'img/camaravigilancia.jpg' %}" alt="Cámara de vigilancia">
				<div class="productText">
					<ul class="productList">
						<li>Modelo: LS-DM 4688 ASDASD FF</li>
						<li>Kit de cuatro cámaras con DVR de 4</li>
						<li>Canales de grabación tiempo real</li>
					</ul>
				</div>
				<div class="productBoton">Combo de vigilancia</div>
			</div>
			<div class="productContainer">
				<img src="{% static 'img/camaravigilancia.jpg' %}" alt="Cámara de vigilancia">
				<div class="productText">
					<ul class="productList">
						<li>Modelo: LS-DM 4688 ASDASD FF</li>
						<li>Kit de cuatro cámaras con DVR de 4</li>
						<li>Canales de grabación tiempo real</li>
					</ul>
				</div>
				<div class="productBoton">Combo de vigilancia</div>
			</div>
			<div class="productContainer">
				<img src="{% static 'img/camaravigilancia.jpg' %}" alt="Cámara de vigilancia">
				<div class="productText">
					<ul class="productList">
						<li>Modelo: LS-DM 4688 ASDASD FF</li>
						<li>Kit de cuatro cámaras con DVR de 4</li>
						<li>Canales de grabación tiempo real</li>
					</ul>
				</div>
				<div class="productBoton">Combo de vigilancia</div>
			</div>
			<div>
				<div class="tituloh3"><a href="#">Ver todos los servicios y productos</a></div>
			</div>
		</div>
	</section>
	<!-- SLIDER INIT -->
	<script>
		$(window).load(function() {
		  $('.flexslider').flexslider({
		  });
		});
	</script>
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
{% block clear %}
	<section class="empresasLogos">
		<div class="wrapper">
			<a href="#" target="_blank" rel="nofollow" title="logodummyTITLE" class="sponsor">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy">
			</a>
			<a href="#" target="_blank" rel="nofollow" title="logodummyTITLE" class="sponsor">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy">
			</a>
			<a href="#" target="_blank" rel="nofollow" title="logodummyTITLE" class="sponsor">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy">
			</a>
			<a href="#" target="_blank" rel="nofollow" title="logodummyTITLE" class="sponsor">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy">
			</a>
		</div>
	</section>
{% endblock%}