{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Categorías de servicios y productos - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/serviciosproductos.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="serviciosProductos">
	<div class="wrapper">
		<form action="." method="POST">	{% csrf_token %}
			<input type="label">
			<input type="submit" value="Buscar">
		</form>
		<section class="headerServicios">
			<div class="tituloMujer">
				<div class="mujerImg"></div>
				<div class="tituloAzul">Servicios y Productos</div>
			</div>
			<div class="textoHeaderServicios">
				<h3>Texto</h3>
				<p>Ut arcu in diam quis cras eu, ut, odio. Massa ridiculus. Enim nec rhoncus placerat, ridiculus ac arcu. Mid vut sociis facilisis! Ac scelerisque sit ultricies, urna penatibus, etiam eros! Sociis ac! Eros, mauris, in sit. Phasellus in massa, cras vut sed! Lectus dis, nisi rhoncus adipiscing sit amet mauris diam porta facilisis nisi, non, facilisis aliquet, vel integer augue. Duis augue pulvinar nisi ac augue augue, a? Tempor amet et diam? Vut egestas, proin. Turpis ac auctor a ultrices purus dignissim non vel. Augue montes sit sociis! Facilisis facilisis enim? Cras adipiscing dolor sagittis tristique? Porttitor dolor, integer, tortor mid dolor pulvinar elit, mus! Proin, adipiscing sed turpis sociis! A odio? Vut elementum, augue porta nisi aliquam magna rhoncus.</p>
			</div>
		</section>
		<section class="contenidoServicios">
		<h2>Categorías</h2>
		<!-- Area of products -->

		<div class="listaProductos">
			{% include page_template %}
				<script src="http://code.jquery.com/jquery-latest.js"></script>
				<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
				<script>
					$.endlessPaginate({
						paginateOnScroll: true,
						paginateOnScrollMargin: 200
					});
				</script>

		</section>
	</div>
</section>
{% endblock %}