{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Duranjo Web
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/sobrenosotros.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">INICIO</a>
			<li class="about"><a href="{% url 'homepageabout' %}">SOBRE NOSOTROS</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">PRODUCTOS Y SERVICIOS</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">CONTACTO</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="sobreNosotros">
	<div class="wrapper">
		<section class="quienesSomos">
			<img src="{% static 'img/logodummy.png' %}" alt="Imagen sobre quien es activa24">
			<article class="infoQuienesSomos">
				<h2>Quienes somos</h2>
				<p>Porttitor velit et! Cum! Ac amet a in? Diam odio! Nec turpis, tortor dis? Enim ac? Nunc odio, parturient magna, dapibus nunc cras scelerisque penatibus placerat? In in et. Dignissim lundium in, auctor, lacus nascetur nisi sociis sociis in vel tortor! Risus. Dis mauris natoque, porta vel, mauris phasellus purus mid, pid! Ac odio, pulvinar penatibus eu massa ultricies natoque pid et magna tincidunt, nunc trin sociis, facilisis natoque vel purus in pid, porta, magna ut nec ut tortor elementum duis nisi diam etiam scelerisque? Risus non dictumst, aliquam risus vel? Cursus lundium, in non rhoncus? Ut.</p>
			</article>
		</section>
		<section class="mision">		
			<article class="infoMision">
				<h2>Misión</h2>
				<p>Porttitor velit et! Cum! Ac amet a in? Diam odio! Nec turpis, tortor dis? Enim ac? Nunc odio, parturient magna, dapibus nunc cras scelerisque penatibus placerat? In in et. Dignissim lundium in, auctor, lacus nascetur nisi sociis sociis in vel tortor! Risus. Dis mauris natoque, porta vel, mauris phasellus purus mid, pid! Ac odio, pulvinar penatibus eu massa ultricies natoque pid et magna tincidunt, nunc trin sociis, facilisis natoque vel purus in pid, porta, magna ut nec ut tortor elementum duis nisi diam etiam scelerisque? Risus non dictumst, aliquam risus vel? Cursus lundium, in non rhoncus? Ut.</p>
			</article>
			<img src="{% static 'img/logodummy.png' %}" alt="Imagen sobre quien es activa24">
		</section>
		<section class="vision">
			<img src="{% static 'img/logodummy.png' %}" alt="Imagen sobre quien es activa24">
			<article class="infoVision">
				<h2>Visión</h2>
				<p>Porttitor velit et! Cum! Ac amet a in? Diam odio! Nec turpis, tortor dis? Enim ac? Nunc odio, parturient magna, dapibus nunc cras scelerisque penatibus placerat? In in et. Dignissim lundium in, auctor, lacus nascetur nisi sociis sociis in vel tortor! Risus. Dis mauris natoque, porta vel, mauris phasellus purus mid, pid! Ac odio, pulvinar penatibus eu massa ultricies natoque pid et magna tincidunt, nunc trin sociis, facilisis natoque vel purus in pid, porta, magna ut nec ut tortor elementum duis nisi diam etiam scelerisque? Risus non dictumst, aliquam risus vel? Cursus lundium, in non rhoncus? Ut.</p>
			</article>
		</section>
	</div>
</section>
{% endblock %}