{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Acerca de la empresa - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/sobrenosotros.css' %}">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/back-top.js' %}"></script>
<script src="{% static 'js/propios/nosotros.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.carouFredSel-6.1.0.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="sobreNosotros">
	<div class="wrapper">
		<section class="quienesSomos">
		<div class="sliderPosition" id="slideUno">	
		  			<div class="objetoSlide"><img src="{% static 'img/sliderabout1.jpg' %}" alt="Imagen sobre quien es activa24"></div>
		  			<div class="objetoSlide"><img src="{% static 'img/sliderabout2.jpg' %}" alt="Imagen sobre quien es activa24"></div>
		</div>	
				<article class="infoQuienesSomos">
				<h2>Quienes somos</h2>
				<p>Activa24 C.A. fue creada el 18 de Julio del 2012 en Ciudad Ojeda por iniciativa de un experimentado y visionario empresario de la zona respondiendo a la detección de necesidades y requerimientos de su propio grupo de empresas y de la localidad, proyectando su objetivo a satisfacer las demandas y requerimientos de un mercado general a nivel nacional e internacional</p>
			</article>
		</section>
		<section class="mision">		
			<article class="infoMision">
				<h2>Misión</h2>
				<p>La misión de la empresa Activa24 C.A., es el desarrollo de proyectos mediante asesorías, mantenimiento, supervisión, configuración, auditoria e instalación de redes de telecomunicación, seguridad electrónica y centros de informática, compra, venta y alquiler de equipos de networking. El objeto comprende además, la prestación de servicios de consultoría, asesorías, gerencia de proyecto y asistencia técnica sobre las materias que conforman el objeto y la adquisición, venta, usufructo, constitución de gravámenes arrendamientos o subarrendamientos de equipos, bienes, infraestructura y suministros consumibles, repuestos infungibles relativos a las comunicaciones, telecomunicaciones y las tecnologías.</p>
			</article>
		<div class="sliderPosition" id="slideDos">	
		  			<div class="objetoSlide"><img src="{% static 'img/sliderabout2.jpg' %}" alt="Imagen sobre quien es activa24"></div>
		</div>	
			</section>
		<section class="vision">
			<article class="infoVision">
				<h2>Visión</h2>
				<p>La visión de Activa24 C.A. es ser la empresa líder prestadora de servicios de tecnología; mediante asesorías, mantenimiento, supervisión, configuración e instalación de redes de telecomunicación y seguridad electrónica sin importar la escala del proyecto. Activa24 C.A. enfoca sus esfuerzos al reconocimiento de sus labores de informática y al mismo tiempo por la adquisición y venta de material tecnológico para cualquier campo, usando marcas líderes con un servicio eficiente.
				</p>
			</article>
		<div class="sliderPosition" id="slideDos">	
		  			<div class="objetoSlide"><img src="{% static 'img/sliderabout3.jpg' %}" alt="Imagen sobre quien es activa24"></div>
		</div>	
		</section>
	</div>
</section>
	<!-- SLIDER INIT -->
	<script>
		$(window).load(function() {
		  $('.flexslider').flexslider({
		  });
		});
	</script>
{% endblock %}