@charset 'utf-8';
body{
	margin: 0;
}
h2{
	margin-top: 0;
	color: #3651A0;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid #D1D1D1;
	width: 30%;
	margin: 0 auto 20px auto;	
}
img{
	width: auto;
	height: auto;
}
a img {border: none; }
.wrapper{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
}
/* HEADER */
header{
	display: inline-block;
	width: 100%;
	height: 110px;
	z-index: 10;
}
.informacionHeader{
	width: 100%;
	height: 40px;
}
.rifInfo{
	float: left;
}
.rifInfo p{
	margin: 0;
}
.contactoInfo{
	float: right
}
.contactoInfo p{
	color: white;
	display: inline-block;
	margin: 0;
}
header .logo img{
	width: 250px;
	float: left;
}
.barraNavegacion{
	text-align: right;
}
.barraNavegacion ul li{
	display: inline-block;
	font-size: 0.8em;
	text-transform: uppercase;
}
.barraNavegacion a{
	background: black;
	background: rgba(77,77,77,0.9);
	color: white;
	padding: 10px 35px;
	text-decoration: none;
	border-left: 2px solid white
}
.barraNavegacion a:hover{
	background: blue;
	background: rgba(56, 163, 213, 0.8);
}
.barraNavegacion li:first-child a{
	border-left: none;
}
/* END HEADER */
/* FOOTER */
footer{
	background: #3953A0;
	padding: 30px 0;
	color: white;
	border-top: 5px solid #8CA6E9;
}
footer > .wrapper > div{
	display: inline-block;
	vertical-align: top;
}
.footer-der, .footer-med, .footer-izq{
	width: 33%;
}
.facebookIcon{
	background: url('../img/logosblancos.png') 34px -6px;
	width: 35px;
	height: 35px;
	float: left;
}
.footer-med img{
	width: 256px;
}
.logoDuranjo img{
	width: 128px;
}
.logoactiva24{
	margin: 0 auto 0 auto;
	background: url('../img/logosblancos.png') 0 -20px;
	width: 260px;
	height: 75px;
}
.logovadecol{
	margin: 0 auto 0 auto;
	background: url('../img/logosblancos.png') -259px 0;
	width: 110px;
	height: 100px;
}
.listaMenuFooter{
	list-style: none;
	padding: 0;
	font-size: 1.3em;
}
.listaMenuFooter li{
	margin-bottom: 10px;
}
.listaMenuFooter li a{
	text-decoration: none;
	color: white;
}
.footer-izq{
	text-align: right;
	margin-top: 150px;
}
.footer-med{
	text-align: center;
}
/* END FOOTER */

/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: rgb(75, 75, 75) url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

@media screen and (max-width: 1000px){

	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
}