@charset 'utf-8';
body{
	margin: 0;
}
h2{
	margin-top: 0;
	color: #3651A0;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid #D1D1D1;
	width: 45%;
	margin: 0 auto 20px auto;	
}
img{
	width: auto;
	height: auto;
}
a img {border: none; }
.wrapper{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
}
/* HEADER */
header{
	display: inline-block;
	width: 100%;
	height: 110px;
}
.informacionHeader{
	width: 100%;
	height: 40px;
}
.rifInfo{
	float: left;
}
.rifInfo p{
	margin: 0;
}
.contactoInfo{
	float: right
}
.contactoInfo p{
	color: black;
	display: inline-block;
	margin: 0;
}
header .logo img{
	width: 250px;
	float: left;
}
nav{
	text-align: right;
}
nav ul li{
	display: inline-block;
	font-size: 0.8em;
	text-transform: uppercase;
}
nav a{
	background: black;
	background: rgba(77,77,77,0.9);
	color: white;
	padding: 10px 35px;
	text-decoration: none;
	border-left: 2px solid white
}
nav a:hover{
	background: blue;
	background: rgba(56, 163, 213, 0.8);
}
nav li:first-child a{
	border-left: none;
}
/* END HEADER */
/* FOOTER */
footer{
	background: #3953A0;
	padding: 0 0 30px 0;
	color: white;
	border-top: 5px solid #8CA6E9;
}
footer > .wrapper > div{
	display: inline-block;
	vertical-align: top;
}
.footer-der, .footer-med, .footer-izq{
	width: 33%;
}
.skypeComponente > p{
	margin: 0;
	height: 70px;
}
.facebookIcon{
	background: url('../img/logosblancos.png') 34px -6px;
	width: 35px;
	height: 35px;
	float: left;
}
.twitterIcon{
	background: url('../img/logosblancos.png') 35px -40px;
	width: 35px;
	height: 35px;
	float: left;
}
.footer-med img{
	width: 256px;
}
.logoDuranjo img{
	width: 128px;
}
.logoactiva24{
	margin: 0 auto 0 auto;
	background: url('../img/logosblancos.png') 0 -20px;
	width: 260px;
	height: 75px;
}
.logovadecol{
	margin: 0 auto 0 auto;
	background: url('../img/logosblancos.png') -259px 0;
	width: 65px;
	height: 65px;
}
.listaMenuFooter{
	list-style: none;
	padding: 0;
	font-size: 1.3em;
}
.listaMenuFooter li{
	margin-bottom: 10px;
}
.listaMenuFooter li a{
	text-decoration: none;
	color: white;
}
.footer-izq{
	text-align: right;
	margin-top: 183px;
}
.footer-med{
	margin-top: 8%;
	text-align: center;
}
/* END FOOTER */
/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: rgb(75, 75, 75) url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

.logoactiva24blanco{
	display: none;
}

@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.rifInfo, .contactoInfo{
		float: none;
	}
	.logo{
		text-align: center;
	}
	header .logo img {
		float: none;
		width: 350px;
	}
	nav{
		text-align: center;
	}
	nav ul{
		margin: 15px 0 9px 0;
		padding: 0;
	}
	nav a{
		padding: 10px 10px;
	}
	.footer-der{
		margin-left: 1%;
	}
	.footer-der, .footer-med{
		width: 48%;
	}
	.footer-izq{
		width: 100%;
		margin-top: 0;
		text-align: center;
	}
	.logoactiva24{
		display: none;
	}
	.logoactiva24blanco{
		display: block;
	}
	.footer-med img {
		width: 100%;
	}
	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */

}
@media screen and (max-width: 480px) {
	.informacionHeader{
		text-align: center;
	}
	header .logo img{
		width: 300px;
	}
	nav ul{
		margin: 15px 0 0 0;
	}
	nav ul li {
	display: block;
	}
	nav a{
		display: block;
	}
	footer{
		padding: 0
	}
	.footer-med {
		margin-top: 24%;
	}
	.footer-izq{
		padding-top: 15px;
	}
}
