{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{% static 'js/adquiridos/ie6-not-supported.js' %}" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/PIE.js' %}"></script>
<![endif]-->
<meta name="keywords" content="Sistemas de seguridad, Vigilancia electrónica, Monitoreo centralizado, Instalación, Administración, Equipos de vigilancia, Sistemas antirrobo, Seguridad perimetral, Control de acceso, Protección">
<meta name="author" content="Duranjo Web C.A.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<title>{% block title %} {% endblock%}</title>	
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	<!-- Analytics SCRIPT GOOGLE! -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42411643-1', 'activa24ca.com');
	  ga('send', 'pageview');

	</script>
	<header id="home" class="cabecera">
		<div class="wrapper">
			<div class="informacionHeader">
				<div class="contactoInfo">
					<p>Teléfonos: (+58) 265 415 0126 </p>
					<img src="{% static 'img/banderita.png' %}" alt="bandera de Venezuela">					
				</div>	
			</div>		
			<div class="logo">
				<a href="{% url 'homepageindex' %}" title="Activa 24 C.A.">
					<img src="{% static 'img/activa24logo.png' %}" alt="logo activa24">
				</a>
				<div class="rifInfo">
					<p>RIF: J-40172941-0</p>
				</div>
			</div>	

			<nav class="barraNavegacion">
				{% block navi %} {% endblock%}
			</nav>
		</div>
	</header>
	<section class="contenido">
		{% block contenido %}{% endblock%}
	</section>
	{% block clear %}{% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapper">
			<div class="footer-der">
				<ul class="listaMenuFooter">
					<li><a href="{% url 'homepageindex' %}">Inicio</a></li>
					<li><a href="{% url 'homepageabout' %}">Sobre Nosotros</a></li>
					<li><a href="{% url 'departamento' %}">Productos Y Servicios</a></li>
					<li><a href="{% url 'homapagecontact' %}">Contacto</a></li>
				</ul>	
				<div class="redesSociales">
					<a href="https://www.facebook.com/activa24ca"><div class="facebookIcon"></div></a>
					<a href="https://www.twitter.com/activa24ca"><div class="twitterIcon"></div></a>
					<a href="https://plus.google.com/111971980254089706846/about"><div class="googleIcon"></div></a>
				</div>
				<p class="menosSkype">
					<!-- SKYPE icon-->
					<script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
					<div id="SkypeButton_Call_activa24ca_1" class="skypeComponente"></div>
					<script type="text/javascript">
					    Skype.ui({
					      "name": "call",
					      "element": "SkypeButton_Call_activa24ca_1",
					      "participants": ["activa24ca"],
					      "imageSize": 32
					    });
					</script>
				</p>		
			</div>
			<div class="footer-med">
				<a href="#home"><div class="logoactiva24"></div></a>				
				<p>Empresas aliadas</p>
				<!-- mas pequeño logo abajo -->
				<div class="logovadecol"></div>
			</div>
			<div class="footer-izq">
				Diseño y desarrollo por:
				<div class="logoDuranjo">
					<a href="http://duranjo.com/">
						<img src="{% static 'img/duranjowhite.png' %}" alt="Duranjo Web C.A. Logo">
					</a>
				</div>
			</div>
			<div class="copyright">Activa 24 C.A. © Copyright 2013-2015. All rights reserved.</div>
		</div>
	</footer>	
</body>
</html>