@charset 'utf-8';
#map-canvas{
	height: 100%;
}
.contactoInfo p{
	color: black;
}
.contact a{
	background: black;
	background: rgba(56, 75, 213, 0.8)
}
.contacto{
	position: relative;
	padding: 50px 0;
	border-top: 5px solid #CCCCCC;
	background: url('../../img/cream_dust_@2X.png');
}
.logoAgua{
	background: url('../../img/activa24logo.png') no-repeat;
	position: absolute;
	bottom: 11%;
	margin-left: 5%;
	width: 340px;
	height: 80px;
	-webkit-transform:scale(1.4);
	-moz-transform:scale(1.4);
	-o-transform:scale(1.4);
	transform:scale(1.4);
	opacity: 0.1;
	z-index: 1;
}
/* Contacto izq */
.formularioContacto{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	z-index: 5;
}
.campo{
	margin: 0 auto 10px auto;
}

.campo input{
	background: #E6E7E7;
	border: 1px solid #CCCCCC;
	text-indent: 5px;
	height: 33px;
	width: 84%;
}

.campo label{
	float: left;
	width: 350px;
	margin-bottom: 3px;
}
textarea{
	background: #E6E7E7;
	border: 1px solid #CCCCCC;
	width: 84%;
}
.errorlist{
	border: 1px solid #F00;
	background: #FFC0CB;
	color: #F00;
	list-style: none;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 82%;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	padding: 10px 0 10px 2%;
}
.enviado{
	border: 1px solid #008000;
	background: lightgreen;
	color: #008000;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 82%;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	padding: 10px 0 10px 2%;
}
input[type="submit"]{
	margin-top: 10px;
	background: gray;
	padding: 5px 20px;
	border: none;
	color: whitesmoke;
	text-transform: uppercase;
}

/* Contacto der */
.informacionContacto{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	z-index: 5;
}
.map{
	width: 490px;
	height: 350px;
}

.infoContacto{
	background: url('../img/lightpaperfibers_@2X.png');
	padding-top: 30px;
	text-align: center;
}

.tituloOpcionInfo{
	background: #F0F0F0;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 0;
}
.infoOpcion{
	text-align: left;
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom: 20px;
}
.telefonosNumeros{
	list-style: none;
	margin:0;
}
.infoDerecha{
	display: inline-block;
	width: 49.55%;
}
.infoIzquierda{
	vertical-align: top;
	display: inline-block;
	width: 49.55%;
}
.opcionInfo{
	position: relative;
}
.correo{
	position: absolute;
	top: -13px;
	left: -14px;
	background: url(../../img/iconos.png) -40px 0;
	width: 45px;
	height: 50px;
}
.telefonos{
	position: absolute;
	top: -9px;
	left: -8px;
	background: url(../../img/iconos.png) 0 0;
	width: 40px;
	height: 50px;
}

.paginaweb{
	position: absolute;
	top: -13px;
	left: -14px;
	background: url(../../img/iconos.png) 40px 0;
	width: 40px;
	height: 50px;
}

@media screen and (max-width: 1000px){
	.formularioContacto{
		width: 90%;
		margin-left: 20px;
	}
	.informacionContacto{
		width: 90%;
		margin-left: 20px;
	}
	.map{
		width: 84%;
		margin: 20px auto 0 auto;
	}

}
@media screen and (max-width: 480px) {
	.map{
		display: none;
	}
}
