@charset 'utf-8';
header{
	position: absolute;
	z-index: 10;
}
h1{
	display: none;
}
.index a{
	background: black;
	background: rgba(213, 56, 56, 0.8);
}
.contactoInfo p{
	text-shadow: 0 0 4px black;
	color: white;
}
/* Configuración slider */
.flexslider{
	background: #fff url(../../img/loader.gif) no-repeat center center !important;
	overflow: hidden;
	height: 593px;
	margin: 0 !important;
	border: none !important;
}
.slides{
	margin: 0;
	padding: 0;
}
.flexslider .slides img{
	width: 100%;
	height: auto;
}
.flex-control-nav{
	bottom: 5px !important; 
}
.flex-direction-nav a{
	z-index: 10; 
}
.slides ul li{
	text-decoration: none;
}
/* Primer banner section */
.sliderPosition{
	width: 100%;
	color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Sobre nosotros section */
.aboutus{
	background: #E6E7E6;
	border-top: 1px solid #bfbfbf;
	padding: 50px 0;
}
.textoSobreNosotros{
	width: 60%;
	padding: 10px;
	text-align: justify;
	display: inline-block;
	vertical-align: top;
	line-height: 1.8em;
}
.monitorCamaras{
	position: relative;
	width: 30%;
	display: inline-block;
}
.imagenstatic{
	position: absolute;
	top: 42px;
	left: 10px;
	background: url(../../img/staticimg.gif) no-repeat;
	width: 281px;
	height: 176px;	
}
.monitorCamaras img{
	width: 300px;
}
/* Ultimos productos section */
.ultimosProductos{
	border-top: 1px solid #bfbfbf;
	padding: 50px 0;
	text-align: center;
}
.ultimosProductos > .wrapper a{
	text-decoration: none;
} 
.productContainer{
	width: 325px;
	display: inline-block;
}
.productContainer img{
	text-align: center;
	width: 60%;

}
.productBoton{
	background: #6A6B6B;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 35px;
}
.ultimosProductos .wrapper .productContainer{
	border-left:1px solid #777; 
}
.ultimosProductos > .wrapper > .productContainer:first-child{
	border-left:none;
}
.tituloh3{
	color: #D52F2F;
	font-size: 0.8em;
	text-transform: uppercase;
	text-align: right;

}
.tituloh3 a{
	text-decoration: none;
}
/* Empresas amigas*/
.empresasLogos{
	border-top: 1px solid #bfbfbf;
	background: #D6E5F4;
	text-align: center;
	padding: 5px 0;
}
.empresasLogos a{
	text-decoration: none;
	padding-right: 25px;
}
.empresasLogos a img{
	width: 128px;
}

@media screen and (max-width: 1000px){
	/* header  */
	header{
		position: static;
		height: 100%;
	}
	.contactoInfo p {
		text-shadow: 0 0 0 #000;
		color: black;
	}
	/* Sobre nosotros */
	.monitorCamaras{
		width: 100%;
		text-align: center;
	}
	.imagenstatic {
		display: none;
	}
	.textoSobreNosotros {
		width: 90%;
	}
	/* ultimos productos */
	.ultimosProductos .wrapper .productContainer {
		border-left: none;
	}
	.productContainer img {
		width: 80%;
	}
	.flexslider{
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	/* ultimos productos */
	.productContainer {
		width: 65%;
	}
	.productContainer img {
		width: 100%;
	}
	/*footer*/
	.listaMenuFooter{
		font-size: 1.1em;
	}
}