@charset 'utf-8';
.contactoInfo p{
	color: black;
}
.services a{
	background: black;
	background: rgba(56, 75, 213, 0.8)
}
.serviciosProductos{
	border-top: 5px solid #CCCCCC;
	background: url(../../img/white_wall_hash.png);
	padding: 20px 0;
}
/* sección headerServicios*/
.tituloMujer{
	display: inline-block;
	width: 29%;
}
.mujerImg{
	background: url(../../img/Telefonpasning.png) no-repeat -2px;
	width: 270px;
	height: 185px;

}
.categoriaDescripcion{
	padding: 15px;
	text-align: justify;
}
.tituloAzul{
	background: #3953a0;
	width: 272px; /* Mientras la imagen tenga este tamaño por el borde*/
	height: 30px;
	line-height: 30px;
	color: white;
	text-indent: 45px;
	font-size: 1.2em;
}
.textoHeaderServicios{
	display: inline-block;
	width: 70%;
	text-align: justify;
	vertical-align: top;
	margin-top: 27px;
}
.textoinicio {
	margin-top: 62px;
	text-align: justify;
	

}

.textoHeaderServicios h3{
	text-align: right;
}
/* sección contenidoServicios */
.contenidoServicios{
	margin-bottom: 1em;
}
.categoriaContainer{
	position: relative;
	width: 225px;
	display: inline-block;
	margin-left:20px; 
	margin-bottom: 20px;
	text-align: center;
	height: 225px;
	vertical-align: bottom;
	color: white;
	margin-top: 50PX;
}
.categoriaContainer img{
	text-align: center;
	width: 100%;
}

.categoriaTitulo{

	color: white;
	text-align: center;
	line-height: 35px;
	text-transform: uppercase;
}
.bluebox{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(57, 83, 160,0.8);
	height: 35px;
	overflow: hidden;
	text-align: center;
}
.categoriaContainer:hover .bluebox{
	bottom: 0;
	height: 65%;
	animation:boxEfecto 1s;
	-webkit-animation:boxEfecto 1s; /* Safari and Chrome */

}
.endless_container{
	text-align: center;
	margin-top: 30px;
}
.endless_more{
	text-decoration: none;
	color: black;
	background: #E6E7E7;
	padding: 10px 15px;
	box-shadow: 0 0 8px #777;
}
.busquedabox{
	text-align: right;
	margin-right: 4px;
	margin-top: 24px;
}
.textbuscar{
	background: #E6E7E7;
	border: 1px solid #CCCCCC;
	text-indent: 5px;
	height: 26px;
	width: 22%;
}
.botonbuscar{
	background: gray;
	padding: 5px 20px;
	border: none;
	color: whitesmoke;
}
.mensajebusqueda{
	text-align: center;
}
.listaProductos a{
	text-decoration: none;
}
@keyframes boxEfecto
{
from {
	bottom:0;
	height: 35px;
}
to {
	bottom: 0;
	height: 65%;
}
}

@-webkit-keyframes boxEfecto /* Safari and Chrome */
{
from {
	bottom:0;
	height: 35px;
}
to {
	bottom: 0;
	height: 65%;
}
}

@media screen and (max-width: 1000px){
	.textoHeaderServicios {
		width: 95%;
		padding: 0 3%;
	}
	.textbuscar {
		width: auto;
	}
}
@media screen and (max-width: 480px) {
	.categoriaContainer {
		width: 60%;
		margin-left: 20%;
		margin-bottom: 40px;
		margin-top: 20PX;
	}
}
