@charset 'utf-8';
h2{
	width: 50%;
	border-top: 2px solid #D1D1D1;
	padding: 5px 0;
}
.contactoInfo p{
	color: black;
}
.about a{
	background: black;
	background: rgba(56, 75, 213, 0.8);
}
.sobreNosotros{
	background: url('../../img/lineaabout.png') no-repeat center 30px, url('../../img/cream_dust_@2X.png');
	padding: 60px 0 0 0;
	border-top: 5px solid #CCCCCC;
}
/* Section quines somos*/
.quienesSomos, .vision{
	height: 385px;
}
.mision{
height: 477px;
}
.vision{
	margin-top: 90px;
}
.sobreNosotros img{/* MIENTRAS PRUEBAS IMAGENES!!!!!!!*/
	width: 510px;
	height: 322px;
	box-shadow: 5px 6px 37px -10px;
	margin-left: 15px;
}
.infoQuienesSomos{
	width: 45%;
	float: right;
	text-align: justify;
	line-height: 2em;
}
.infoMision{
	width: 45%;
	float: left;
	text-align: justify;
	line-height: 2em;
}
.infoVision{
	width: 45%;
	float:right;
	text-align: justify;
	line-height: 2em;
}
.slideUno{
	float: left;
}
.sliderPosition{
	width: 510px;
	float: left;
}
.slider{
	float: left;
}


@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.sobreNosotros {
		background: url('../../img/cream_dust_@2X.png');
	}
	.quienesSomos, .mision, .vision {
		height: auto;
	}
	.infoQuienesSomos, .infoMision, .infoVision{
		width: 95%;
		margin: 0 auto 0 auto;
		float: none;
	}
	.slider{
		width: 100%;
		height: 322px;
		float: none;
		text-align: center;
	}
	.caroufredsel_wrapper{
		float: none !important;
		margin: 0 auto !important;
		display: inline-block;
	}

}
@media screen and (max-width: 480px) {
	.slider{
		display: none;
	}
}

