{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load custom_filters %}s
{% block head %} 
<meta name="description" content="Página oficial de la empresa Duranjo Web C.A. que desarrolla soluciones informaticas para 
diseño de páginas web, software y diseño gráfico. Además de ofrecer diferentes planes accesibles a cualquier tipo de cliente. Innovación, estilo y creatividad es nuestro ideal.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Lista de producto de la categoría #colocar categoria name# - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/productos/categoria.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'homepageserviciosyproductos' %}">Productos y Servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="categoria">
	<div class="wrapper">
		<section class="oferta">
			<div class="tituloh2"><h2>{{ categoria.titulo }}</h2></div>
			<!-- Se debe hacer un modulo para cargar estas dos imagenes o hacerlo manual estableciendo dos nombres y cambiar eso y ya-->
			<div class="ofertaizq">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy" style="width: 460px;">
			</div>
			<div class="ofertader">
				<img src="{% static 'img/logodummy.png' %}" alt="logo dummy" style="width: 460px;">
			</div>
		</section>
		<section class="productos">
			<h2>Productos</h2>
			<div class="listaProductos">
			<!-- Example area of products -->
				{% for producto in productos %}
				<div class="productoContainer">
					<img src="{{ MEDIA_URL }}/{{ imagenes|getimagen:producto.id}}" alt="{{ producto.titulo }}"/>
					<div class="productoTitulo">{{ producto.titulo }}</div>
					<div class="productoDescripcion">
						{{ producto.descripcion_corta }}
					</div>
				</div>
				{% endfor %}
			</div>
		</section>

		<section class="otrasCategorias">
			<h2>Otras categorías</h2>
			<div class="sliderPosition">
				<div class="flexslider">
		  			<ul class="slides">
		  					{% for categoria_item in lista_categorias %}
		  						<li>
		  							<div class="tituloCategoria">{{categoria_item.titulo}}</div>
		  							<img class="imgcategoria" src="{{ MEDIA_URL }}/{{categoria_item.imagen}}" alt="{{categoria_item.titulo}}" >
		  						</li>
		  					{% endfor %}
		  			 </ul>
				</div>		
			</div> 
		</section>
	<!-- SLIDER -->
	<script>
		$(window).load(function() {
  			$('.flexslider').flexslider({
    		animation: "slide",
    		animationLoop: false,
    		itemWidth: 150,
    		itemMargin: 5
  		});
	});
	</script>

{% endblock %}
