{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load custom_filters %}
{% block head %} 
<meta name="description" content="Categoría {{categoria.titulo}} dispuesta de la empresa Activa24 C.A.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Departamentos - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/serviciosproductos.css' %}">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/back-top.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block navi %}
<ul>
	<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
	<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
	<li class="services"><a href="{% url 'departamento' %}">Productos y Servicios</a>
	<li class="blog"><a href="/blog">Blog</a>
	<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
</ul>				
{% endblock %}
{% block contenido %}
<section class="categoria">
	<div class="wrapper">
		<section class="headerServicios">
			<div class="tituloMujer">
				<div class="mujerImg"></div>
				<div class="tituloAzul">Productos y servicios</div>
			</div>
			<div class="textoHeaderServicios">
				<h2>Productos y servicios</h2>
				<div class="textoinicio"><p>ACTIVA24 ofrece una gran gama de productos y servicios de alta calidad, brindando a sus clientes soluciones integradas en sistemas de seguridad (sistemas antirrobo, seguridad perimetral, control de acceso), vigilancia y monitoreo, así como equipos de networking y consultoría tecnológica. Conozca nuestros productos seleccionando alguna  categoría..</p></div>
			</div>
		</section>
		<section class="oferta">
			<!-- Se debe hacer un modulo para cargar estas dos imagenes o hacerlo manual estableciendo dos nombres y cambiar eso y ya-->
			{% for departamento in departamentos %}
			<div class="departamentoContainer">
				<a href="{{ departamento.get_absolute_url }}">
					<img src="{{ MEDIA_URL }}/{{departamento.imagen}}" alt="{{departamento.titulo}} imagen">
					<div class="departamentoTitulo">{{ departamento.titulo }}</div>
					<div class="departamentoDescripcion">
						{{ departamento.breve_descripcion }}
					</div>
					<div class="leermas">Leer más</div>
				</a>
			</div>		
			{% endfor %}
		</section>
</section>
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
	<!-- SLIDER -->
	<script>
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "slide",
		animationLoop: false,
		itemWidth: 100,
		itemMargin: 0,
		minItems: 2,
		maxItems: 6
		});
	});
	</script>
{% endblock %}
