{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Servicios y productos listados proporcionados por la empresa Activa24 C.A.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Categorías de servicios y productos - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/serviciosproductos.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li class="index"><a href="{% url 'homepageindex' %}">Inicio</a>
			<li class="about"><a href="{% url 'homepageabout' %}">Sobre nosotros</a>
			<li class="services"><a href="{% url 'departamento' %}">Productos y servicios</a>
			<li class="contact"><a href="{% url 'homapagecontact' %}">Contacto</a>
		</ul>				
{% endblock %}
{% block contenido %}
<section class="serviciosProductos">
	<div class="wrapper">
		<section class="headerServicios">
			<div class="tituloh2"><h2>{{ departamento.titulo }}</h2></div>
		</section>
		<section class="contenidoServicios">
			<form class="busquedabox" action="." method="POST">	{% csrf_token %}
				<input class="textbuscar" type="text" name="busqueda">
				<input class="botonbuscar" type="submit" value="Buscar">
			</form>
			<!-- Area of products -->
			{% if mensaje %}
			<div class="mensajebusqueda">{{mensaje}},
				<a href="{% url 'departamento' %}"> Ver los departamento</a>
			</div> 
			{% else %}

			<div class="listaProductos">
				{% include page_template %}
					<script src="http://code.jquery.com/jquery-latest.js"></script>
					<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
					<script>
						$.endlessPaginate({
							paginateOnScroll: true,
							paginateOnScrollMargin: 200
						});
					</script>
			</div>
		</section>
	</div>
	{% endif %}
</section>
{% endblock %}